{% extends 'base.html' %}

{% block body %}

<div class="bg1">
    <div class="container align-items-center">
        <h3 class="text-center">{{ the_title }}</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-sm">
                        Erro na insercao dos parametros para o calculo. Favor revisar e  tentar novamente.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
