{% extends 'base.html' %}

{% block body %}

<div class="bg1">
    <div class="container align-items-center">
        <h3 class="text-center">{{ the_title.upper() }}</h3>
        <p class="text-center">Os codigos desta pagina estao disponiveis no Github para uso livre.</p>
        <ul class="list-group">
            <li class="text-center list-group-item">
		    <h5 style='color: black'>Ola pedalantes!</h5><br>
		    <p>Um site simples, que usa uma formula simples, criada por um ciclista lendario,<br>
		    o tri campeao do Tour de France Greg LeMond, mas que ajudou e ainda ajuda muita gente.<br>
		    Eu resolvi faze-lo por volta de 2010 porque um aluno meu havia comprado em uma loja online<br>
		    inglesa um quadro tamanho 21 quando ele deveria ter comprado um tamanho 16.<br>
		    Por sorte ele comentou comigo antes que enviassem para o Brasil e conseguiu reverter. 
		    Mas deu trabalho.<br>
		    Ja pensei em retirar este site do ar varias vezes, mas sempre penso naquele aluno e nas pessoas que ajudei alem dele.<br>
		    Entao eu ainda o mantenho simples, leve e sem propangadas, e resolvi dar uma repaginada.<br>
		    O antigo usava PHP e refiz tudo usando Python, mas no entanto fiquei muito tempo longe de desenvolvimento web,<br>
		    entao desculpe qualquer instabilidade e/ou bug que venham a encontrar.<br>
		    Deixei sem a  maioria dos acentos de proposito, nao por alguma birra com nossa lingua, mas porque sempre<br>
		    entendi que a internet nao foi feita para ela e acentos frequentemente causam problemas ao codigo.<br>
		    Tambem estou disponibilizando os fontes no meu github. O link esta na aba de links ali em cima.<br>
		    Nao canso de avisar que ele e apenas uma referencia, um inicio, e que um bikefit profissional<br>
		    segue sendo  sempre a melhor opcao. Especialmente se voce continuar sentindo dores ou desconforto.</p>
		    <h6><a style="color: blue" href='mailto:rcaliman@gmail.com'>Rodrigo Caliman</a></h6>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
